.footer {
    font-family: var(--ff-roboto);
    }
.footer-top {
    background-color: var(--cultured);
    }
.footer-brand {
    margin-bottom: 50px;
    border-bottom: 1px solid var(--grianboro);
    padding-bottom: 50px;
    }
.footer-brand .logo {
    margin-bottom: 15px;
    }
.social-list {
    display: flex;
    align-items: center;
    gap: 8px;
    }
.social-link {
    color: var(--onyx);
    background: var(--grianboro);
    font-size: 20px;
    padding: 10px;
    transition: var(--transition-1);
    }
.social-link:is(:hover, :focus) {
    background: var(--bittersweet);
    color: var(--white);
    }
.footer-list-title {
    margin-bottom: 25px;
    color: var(--rich-black-forga-29);
    font-family: var(--fs-josefin-sans);
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    position: relative;
    }
.footer-list-title::after {
    content: "";
    display: block;
    background: var(--bittersweet);
    width: 50px;
    height: 2px;
    margin-top: 10px;
    }
.footer-link {
    display: flex;
    align-items: center;
    color: var(--onyx);
    gap: 10px;
    padding-block: 6px;
    transition: var(--transition-1);
    }
a.footer-link:is(:hover, :focus) {
    color: var(--bittersweet);
    }
.footer-link-text {
    flex: 1;
    }
.footer-list:not(:last-child) {
    margin-bottom: 30px;
    }
.footer-list:first-child ion-icon {
    color: var(--bittersweet);
    font-size: 22px;
    }
.table-row {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    padding-block: 6px;
    }
.table-head {
    color: var(--rich-black-fogra-29);
    font-weight: var(--fw-500);
    }
.table-data {
    color: var(--onyx);
    }
.newsletter-text {
    color: var(--onyx);
    line-height: 1.7;
    margin-bottom: 20px;
    }
.newsletter-form {
    position: relative;
    }
.newsletter-email {
    background: var(--white);
    color: var(--onyx);
    padding: 15px 25px;
    }
.newsletter-button {
    background: var(--bittersweet);
    color: var(--white);
    padding: 14px 20px;
    }   
.newsletter-form .newsletter-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-family: var(--fs-josefin-sans);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    padding-inline: 20px;
    }
.footer-bottom {
    padding-block: 20px;
    background: var(--rich-black-fogra-29);
    }
.copyright {
    text-align: center;
    color: var(--white);
    }
.copyright-text {
    display: inline-block;
    color: var(--bittersweet);
    }
.goto-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--bittersweet);
    color: var(--white);
    font-size: 20px;
    padding: 4px solid var(--white);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-1);
    z-index: 2;
    }
.goto-top.active {
    opacity: 1;
    visibility: visible;
    }
.goto-top:is(:hover, :focus) {
    background: var(--salmon);
    }